/*
  We include some minimal custom CSS to make the playlist UI look good
  in this context.
*/
.readmore
{
	margin-bottom:10px;
}
.videoicomenu {
    border: 1px solid #ffffff;
    color: #fffffff;
}
.popover-inner .content-block
{
	margin-top:0px;
}
.popover-inner .vid-heading
{
	color:#000;
}
.popover-inner .vid-content
{
	color:#000;	/* Required for text-overflow to do anything */
	white-space:normal;
	word-wrap: break-word;
	overflow:visible;
}
.videoicomenu a {
    color: #fffffff;
}
.list-block ul {
	background-color:transparent;
}
.list-block .item-title.label {
    width: 70%;
}
.item-title
{
	color:#FFF;
	font-weight:bold;
}
.dark-background
{
	background-color:#111;
}
.vid-content
{
	color:#fff;
	text-align:left;
	padding:10px 0px;
	text-overflow: ellipsis;

	/* Required for text-overflow to do anything */
	white-space:nowrap;
	overflow: hidden;
}

.vid-heading
{
	text-align:left;
	color:#f0f0f0;
	font-weight:bold;
	padding-top:10px;
	text-transform:uppercase;
}
.player-container {
  background: #1a1a1a;
}
.video-js {
}
.vjs-playlist {
	height:525px;
}
.fa
{
	font-size:30px;
}
.button-red
{
	background-color:#F00;
	border:#FFF;
	color:#FFF;
}
#mainmenu
{
	background-color:#000;
	border:none;
	color:#FFF;
}
.text-light
{
	color:#666;
}
.text-light.active-state
{
	color:#FFF;
}
.toolbar {

	height:70px;
	background:#111;

}

.toolbar-inner
{
	top:20px;
	padding:0 20px;
}
.toolbar a{
 margin-bottom:20px;
}

.button-with-icon{
    text-align: center;
    display: table;
}


.button-with-icon .button-content {
    display: table-cell;
    vertical-align: middle;
}
.button-content.active-state {
	padding-bottom:15px;
}
.button-with-icon .button-content span {
    display: block;
	opacity:0;
}
.left-panel-menu
{
	list-style:none;
	color:#FFF;
}
.panel {
	background-color:#000;
}

.overlay {
  position: relative;
}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}
.overlay-black
{
	background-image:url(../img/main_background.jpg);
	background-size:cover;
	opacity:0.2;
	z-index:-10;
}
.left-panel-menu li
{
	height:40px;
	padding:10px 0px;
	font-size:16px;
}
.popup-terms p
{
	color:#000;
	text-align:center;
}
.popup-terms h1
{
	color:#000;
}
.content-block {
    margin-top: 80px;
}
.navbar, .toolbar
{
	height:100px;
}
.back-button a{
	color:#000;
}
.navbar-inner
{
/*	background-image:url(../img/header.jpg);
*/	background-size:cover;
	background-repeat: no-repeat;
}
.left-panel-button
{
	color:#FFF;
	text-transform:uppercase;
}
#nav
{
	background-color:#e2e2e2;
	padding:10px;
}
.playlist-background
{
	padding-top:10px;
	height:250px;
	background-color:#000;
	text-align:center;
}
.vjs-playlist .vjs-playlist-thumbnail {
}
.main-background
{
	background-image:url(../img/login_background.jpg);
	background-position:center;
	background-size:cover;
	margin:auto 0;
}
#login-body
{
	background-image:url(../img/login_background.jpg);
	background-position:center;
	background-size:cover;
	margin:auto 0;
}
#pp-body
{
	background-color:#F0F0F0;
	color:#000000;
	margin:auto 0;
	padding-top:20px;
	padding-bottom:10%;
	position:absolute;
	z-index:99;
}
.policy-content p
{
	color:#000000;
}
.policy-content h1
{
	color:#000000;
		text-align:center;

}
.policy-content h2
{
	color:#000000;
	font-weight:bold;
	text-decoration:underline;
		text-align:center;

}
#main-body
{
	background-image:url(../img/main_background.jpg);
	margin:auto 0;
	background-size:cover;
	background-repeat:repeat-y;
}
.form-labels
{
	color:#FFF;
	font-size:12px;
}
.img-button
{
	border:none !important;
	padding:0px !important;
}
.heading
{
	font-size:18px;
	font-weight:bold;
	padding:10px;
}

/*---------------REGISTRATION FORM STYLE---------------*/
#top-header
{
	padding:0px;
}
body, form, ul, li, p, h2, h3, h4, h5
    {
    margin: 0;
    padding: 0;
    }
h1
{
	color:#FFF;
}
h2
{
	color:#FFF;
	text-transform:uppercase;
	padding-bottom:20px;
}
h3
{
	color:#FFF;
	text-transform:uppercase;
}
p
{
	color:#FFF;
}
#vidtitle
{
	font-size:large;
	padding:10px;
	text-transform:uppercase;
	background-color:#0b70d3;
}
#videomenu {
    background-color:#bf1010;
    border-color: transparent;
	font-weight:bold;
}
#mainnav {
    background-color:transparent;
    border-color: transparent;
	font-weight:bold;
}
#mainnav .navbar-toggle {
    border-color:#000000;
	background-color:#000000;
}
#mainnav .icon-bar {
    background-color: #ffffff;
}
#mainnav .navbar-collapse {
	color:#FFF;
    border-color: #000000;
	background-color: #000000;
}
#mainnav .nav>li:nth-child(odd) {
    background-color: #333333 !important; /* Green */
    color:#ffffff !important;
}
#mainnav-items>li {
    color:#ffffff;
	text-align:center;
	padding:20px;
}

.navbar-inverse .navbar-toggle {
    border-color:transparent;
	background-color:#bf1010;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #000000;
}
button {
    border: none;
}
.nav button {
    background-color: transparent; /* Green */
    border: none;
    color:#FFFFFF;
    padding: 15px 32px;
    text-align: center;
	text-transform:uppercase;
    text-decoration: none;
    display: inline-block;
    font-size:medium;
}
.nav>li:nth-child(odd) {
    background-color: #5f0808 !important; /* Green */
    color:#bf1010 !important;
}
p
{
	padding:5px;
}
body
    {
    background-color: #ffffff;
    color: #666;
    }
 
#signup img
    {
    border: none;
    }
 
#signup p
    {
    margin: 0 0 1em 0;
    }
 .vidheading
 {
	 color:#FFF;
	 font-weight:bold;

 }
  .vidheading button
 {
	 color:#FFF;
	 font-weight:bold;
	 background-color:#2a6fc8;
	 padding:10px 20px;
	 	 border:none;
		 font-size:12px;
		 	 width:100%;
	 text-align:center;
	 position:relative;
	 text-transform:uppercase;
 }
#signup h2
    {
    font-size: 14px;
    margin: 0 0 12px;
    }
	 .img-thumbnail
 {
	 padding:0px;
	 border:none;
	 background-color:transparent;
 }
 .img-thumbnail img
 {
 }
  .img-thumbnail button
 {
	 padding:0px;
	 border:none;
	 margin-bottom:10px;
	 background-color:transparent;
 }
 
.red-btn
    {
    margin: 20px auto;
	font-weight:bold;
	color:#FFF;
	background-color:#b61a1a;
	border:solid #FFF 2px;
	padding:10px 20px;
    }
	
	 
.blue-btn
    {
    margin: 20px auto;
	font-weight:bold;
	color:#FFF;
	background-color:#1187be;
	border:solid #FFF 2px;
	padding:10px 20px;
    }
 .cta-btn
    {
    margin: 20px auto;
	font-weight:bold;
	color:#FFF;
	background-color:#f76903;
	border:solid #FFF 2px;
	padding:10px 20px;
    }
#signup fieldset
    {
    margin: 0 0 20px;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
 
#signup ol
    {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
 
#signup li
    {
    margin: 0 0 12px;
    position: relative;
    }
 
#signup label
    {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    }
 
legend
    {
    color:#00C492;
    }
 
#signup fieldset input,#signup fieldset select
    {
    background: #fff url(ico_validation.png) 260px 24px no-repeat;
    display: inline-block;
    width: 250px;
    border: 1px solid #00C492;
    padding: 3px 26px 3px 3px;
    -moz-transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
 
#signup fieldset textarea
    {
    display: inline-block;
    width: 250px;
    border: 1px solid #00C492;
    padding: 3px 26px 3px 3px;
    -moz-transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize:none;
    }
 
#signup fieldset input[type="checkbox"]
    {
    width:20px;
    }
 
#signup fieldset input[type="radio"]
    {
    width:20px;
    }
 
#signup fieldset select
    {
    width: 280px;
    padding: 3px;
    }
 
#signup fieldset #postcode
    {
    padding: 3px;
    width: 270px;
    }
 
#signup input::-webkit-input-placeholder,#signup input:-moz-placeholder input:placeholder
    {
    color: #f2f2f2;
    }
 
#signup .validation01
    {
    background: #F08080;
    color: #fff;
    display: none;
    font-size: 12px;
    padding: 3px;
    position: absolute;
    right: -160px;
    text-align: center;
    top: 0;
    width: 150px;
    outline: 0;
    -moz-box-shadow: 0px 0px 4px #ffffff;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
 
#signup input:focus + .validation01
    {
    display: block;
    }
 
#signup input:focus:required:invalid + .validation01 .valid,#signup input.error:focus + .validation01 .valid,#signup input.required:focus + .validation01 .valid,#signup input:focus + .validation01 .valid
    {
    display: none;
    }
 
#signup input:focus:required:valid + .validation01,#signup input.valid:focus + .validation01
    {
    background: green;
    }
 
#signup input:focus:required:valid + .validation01 .invalid,#signup input.valid:focus + .validation01 .invalid
    {
    display: none;
    }
 
#signup input:focus:required:valid + .validation01 .valid,#signup input.valid:focus + .validation01 .valid
    {
    display: block;
    }
 
#signup fieldset input:required:valid
    {
    background-color: #fff;
    background-position: 260px -61px;
    }
 
#signup input.error
    {
    background-color: #F08080;
    background-position: 260px 3px;
    outline: none;
    }
 
#signup input.required
    {
    background-color: #fff;
    background-position: 260px -30px;
    }
 
#signup input.valid
    {
    background-color: #fff;
    background-position: 260px -61px;
    }
 
#signup input.error::-webkit-input-placeholder,#signup inputerror :-moz-placeholder
    {
    color: #f2f2f2;
    }
 
input[type="submit"]
    {
    background: #00C492;
    border:none;
    width:200px;
    margin:auto;
    float:right;
    padding:5px;
    border-radius:5px;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    }
/*---------------END REGISTRATION FORM-----------------*/

.no-margin
{
	margin:0px;
	padding:0px;
}